#preview img {
  width: 20%;
  height: auto;
}

.signup {
  width: 100vw;
  height: 80vh !important;
  background-color: rgb(184, 255, 184);
  display: flex;
  justify-content: center;
}

.signup-form {
  text-align: center;
  background: #00991e;
  border-radius: 4px;
  width: 25%;
  height: 90%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  align-self: center;
}

.signup-form input {
  width: 90%;
}

h2 {
  padding-top: 10px;
  margin: 0;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 10px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px !important;
  font-weight: bold;
  width: 90%;
  cursor:pointer;
}
